.auth {
    text-align: center;
    color: aliceblue;
    font-size: 28px;
}

.auth button {
    width: 200px;
    height: 50px;
    border-color: aliceblue;
    background-color: white;
    color: black;
    border-radius: 8px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 20px;
}
